.Button {
    height: 30px;
    width: 80px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.Button:focus {
    outline: none;
}

.Button:hover {
    cursor: pointer;
}

.Button.create,
.Button.submit {
    background-color: var(--primary-red);
    color: var(--primary-text-color);
}

.Button.cancel {
    background-color: var(--card-background);
    color: var(--primary-red);
}