.ShuDong-container {
    padding: var(--gutter) calc(10 * var(--gutter));
}

.ShuDong-container.blur {
    opacity: 0.3;
    pointer-events: none;
    overflow: hidden;
    height: 100%;
}

.ShuDong-content.grid {
    margin-top: var(--gutter);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 1200px) {
    .ShuDong-content.grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 900px) {
    .ShuDong-content.grid {
        grid-template-columns: 1fr;
    }
}

.ShuDong-content.list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ShuDong-create-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 500px;
}

.ShuDong-create-footer {
    display: flex;
    justify-content: flex-end;
}

.ShuDong-create-footer Button {
    margin: var(--gutter-small);
}