.Header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 var(--gutter-extra-small);
}

.Header-title {
    color: var(--secondary-text-color);
    display: flex;
    align-items: flex-end;
}

.Header-tags {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: var(--gutter)

}

.Header-tools {
    display: flex;
}

.Header-tools-list {
    background-color: var(--primary-orange);
    border-radius: 50% 50%;
    padding: 5px;
}

.hidden {
    display: none;
}