.Tag-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: var(--gutter-extra-small);
}

.Tag-text {
    font-size: var(--font-normal);
    font-weight: 300;
}
.Tag-text:hover {
    cursor: pointer;
    color: var(--secondary-text-color);
}

.Tag-text em {
    background-color: var(--secondary-blue);
    color: var(--primary-text-color);
    font-weight: 300;
    font-size: var(--font-small);
    text-align: center;
    width: 25px;
    border-radius: 2px;
    display: inline-block;
    transform: scale(0.85);
    font-style: normal;
}

